@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");
/* Variables */
/* Configuracion generica */
/* _reset.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  font-size: 16px;
  line-height: 1.5;
  font-size: 1rem;
  font-family: "Roboto Flex", sans-serif;
}

input,
textarea,
select {
  -webkit-appearance: none;
  appearance: none;
  background-color: white;
  border: 1px solid #fff;
  box-shadow: none;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Flex", sans-serif;
  font-weight: 700;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1.1rem;
}

p {
  font-size: 1rem;
  padding-bottom: 5px;
  text-align: justify;
}

html {
  height: 100%;
  min-height: 100vh;
}

.body {
  background-image: url("../images/background-151.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 10px;
  max-width: 1200px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 10px;
}
.container ::-webkit-scrollbar {
  width: 5px; /* o el ancho que tenga tu scrollbar */
}
.container ::-webkit-scrollbar-track {
  background: transparent; /* ¡Este es el espacio que se ve feo! */
}
.container ::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3); /* O transparent si no querés ver el thumb */
  border-radius: 6px;
}

/* Estilos del header y sus componentes */
.header {
  display: grid;
  grid-template-columns: 3fr 6.5fr 2.5fr;
  gap: 5px;
  background-color: #C292BA;
  padding: 10px 20px;
  border-radius: 5px;
  position: sticky;
  top: 10px;
  z-index: 1000;
  border: 1px solid black;
  max-width: 100%;
}
.header #toggle-header {
  display: none;
}
.header div, .header nav {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}
.header .buscador-form {
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid white;
  width: 100%;
}
.header .buscador-form .input-con-boton {
  display: flex;
  overflow: hidden;
  border-radius: 5px;
  max-height: 2rem;
  width: 100%;
  padding: 0;
  background-color: #ffffff;
}
.header .buscador-form .input-con-boton button {
  background-color: #C292BA;
  border: 1px solid white;
  color: #ffffff;
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
}
.header .buscador-form .input-con-boton button img {
  max-width: 100%;
  width: 100%;
  height: auto;
}
.header .buscador-form .input-con-boton input[type=search] {
  width: 100%;
  outline: none;
  color: #C292BA;
  font-size: 1rem;
  border: 1px solid white;
  padding-left: 5px;
}
.header .buscador-form .input-con-boton #buscar::placeholder {
  color: #C292BA;
  background-color: #ffffff;
}
.header .buscador-form .input-con-boton button:hover, .header .buscador-form .input-con-boton button:focus, .header .buscador-form .input-con-boton button:active {
  outline: none;
  box-shadow: none;
}
.header .buscador-form .visually-hidden {
  position: absolute;
  left: -10000px;
}
.header nav ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
.header nav ul li {
  padding: 5px 0;
  text-align: center;
}
.header nav ul li a {
  text-transform: uppercase;
  font-size: 1.1rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 0;
  color: #ffffff;
}
.header nav ul li a img {
  display: none;
}
.header nav ul li.actual {
  font-weight: bold;
}
.header nav ul li.actual a img {
  display: flex;
}
.header nav ul li.marca {
  font-size: 1.2rem;
}
.header .moneda-usuario {
  justify-content: space-evenly;
  color: #ffffff;
}
.header .moneda-usuario label {
  padding-right: 5px;
}
.header .moneda-usuario .select-moneda {
  font-family: "Roboto Flex", sans-serif;
  font-size: 1rem;
  color: #C292BA;
  background-color: #ffffff;
  border: 1px solid white;
  border-radius: 5px;
  padding: 0 5px 0 5px;
  height: 2rem;
  outline: none;
  cursor: pointer;
}
.header .moneda-usuario a img {
  max-height: 2rem;
  height: 100%;
  width: auto;
}

/* Estilos del footer y sus componentes */
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #C292BA;
  color: #ffffff;
  padding: 20px;
  gap: 10px;
  border: 1px solid black;
  border-radius: 5px;
}
.footer .links, .footer .redes {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer .links ul, .footer .redes ul {
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.footer .links ul li a {
  text-decoration: underline;
  color: #ffffff;
}
.footer .redes ul {
  justify-content: flex-end;
}
.footer .redes ul li {
  padding-left: 20px;
}
.footer .redes ul li a img {
  width: 45px;
  height: 45px;
}

.main {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 10px;
  background-color: transparent;
}
.main .banner {
  position: relative;
  max-width: 1200px;
  width: 100%;
  display: inline-block;
  overflow: hidden;
  border: 1px solid black;
  border-radius: 5px;
}
.main .banner img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
}
.main .banner span {
  color: #B58BAF;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  font-weight: bold;
  z-index: 2;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.5), 1px -1px 1px rgba(255, 255, 255, 0.5), -1px 1px 1px rgba(255, 255, 255, 0.5), 1px 1px 1px rgba(255, 255, 255, 0.5);
}
.main .banner .span1 {
  top: 25%;
}
.main .banner .span2 {
  top: 60%;
  line-height: 1;
  width: 80%;
}

/* Estilos del Main Index y sus componentes */
.noticias, .destacados {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
  border: 1px solid black;
}

.noticias {
  background-color: #ffffff;
  color: #C292BA;
}
.noticias .titulo {
  text-decoration: underline;
  padding: 10px;
  text-align: center;
}
.noticias .videos-ultimas-noticias {
  color: #E3B3CB;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 0 35px;
}
.noticias .videos-ultimas-noticias .videos {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  padding-top: 20px;
}
.noticias .videos-ultimas-noticias .videos iframe {
  border: 1px solid black;
  width: 100% !important;
  height: auto;
  aspect-ratio: 16/9;
}
.noticias .videos-ultimas-noticias .videos h4 {
  padding: 5px 0;
}

.destacados {
  background-color: #E3B3CB;
  color: #ffffff;
}
.destacados .contenedor-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 100%;
  height: 100%;
  gap: 5px;
  padding: 0 5px 10px 5px;
  border-radius: 5px;
}
.destacados .contenedor-cards section h3 {
  padding: 0 0 5px 0;
  text-decoration: underline;
}
.destacados .contenedor-cards .compra-venta, .destacados .contenedor-cards .intercambio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  background-color: inherit;
  color: inherit;
}
.destacados .contenedor-cards .compra-venta .cards, .destacados .contenedor-cards .intercambio .cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
  background-color: transparent;
  border-radius: 5px;
  max-height: 100%;
}
.destacados .contenedor-cards .compra-venta .cards .contenido-card, .destacados .contenedor-cards .intercambio .cards .contenido-card {
  text-align: center;
  background-color: #ffffff;
  color: #E3B3CB;
  border-radius: 17px;
  padding: 5px 5px 0 5px;
}
.destacados .contenedor-cards .compra-venta .cards .contenido-card h3, .destacados .contenedor-cards .intercambio .cards .contenido-card h3 {
  padding: 0;
  text-decoration: none;
}
.destacados .contenedor-cards .compra-venta .cards .contenido-card h4, .destacados .contenedor-cards .intercambio .cards .contenido-card h4 {
  padding: 0;
}
.destacados .contenedor-cards .compra-venta .cards .contenido-card img, .destacados .contenedor-cards .intercambio .cards .contenido-card img {
  max-width: 100%;
  object-fit: contain;
  overflow: hidden;
  border-radius: 17px;
  border: 1px solid black;
}

/* Estilos del Main Contacto y sus componentes */
.login {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
  border: 1px solid black;
}

.login {
  background-color: #E3B3CB;
  color: #ffffff;
}
.login .titulo {
  text-decoration: underline;
  padding: 10px;
  text-align: center;
}
.login .form-login {
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}
.login .form-login .formulario-login {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 90%;
  grid-template-areas: "iniciar-sesion iniciar-sesion" "text1 text1" "text2 text2" "button1 button2";
  gap: 15px;
  padding: 20px;
  border: none;
}
.login .form-login .formulario-login #mensaje-email, .login .form-login .formulario-login #mensaje-password {
  font-size: x-small;
  color: red;
  padding: 0;
  margin: 0;
}
.login .form-login .formulario-login .iniciar-sesion {
  grid-area: iniciar-sesion;
}
.login .form-login .formulario-login .iniciar-sesion p, .login .form-login .formulario-login .registrarse p {
  text-align: center;
  font-weight: bold;
}
.login .form-login .formulario-login .text1 {
  grid-area: text1;
}
.login .form-login .formulario-login .text2 {
  grid-area: text2;
}
.login .form-login .formulario-login .text1, .login .form-login .formulario-login .text2, .login .form-login .formulario-login .text3, .login .form-login .formulario-login .text4, .login .form-login .formulario-login .text5, .login .form-login .formulario-login .text6, .login .form-login .formulario-login .text7, .login .form-login .formulario-login .text8, .login .form-login .formulario-login .text9 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login .form-login .formulario-login .button1 {
  grid-area: button1;
  display: flex;
  justify-content: flex-end;
  padding: 0;
}
.login .form-login .formulario-login .button1 input {
  background-color: #B58BAF;
  border: 1px solid white;
  color: #ffffff;
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  width: 152px;
  height: 2rem;
  font-size: 1rem;
}
.login .form-login .formulario-login .button2 {
  grid-area: button2;
  display: flex;
  justify-content: flex-start;
  padding: 0;
}
.login .form-login .formulario-login .button2 input {
  background-color: #B58BAF;
  border: 1px solid white;
  color: #ffffff;
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  width: 152px;
  height: 2rem;
  font-size: 1rem;
}
.login .form-login .formulario-login .formato-input {
  width: 100%;
  max-width: 450px;
  height: 38px;
  font-size: 1rem;
  font-family: "Roboto Flex", sans-serif;
  color: #C292BA;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
}
.login .form-login .formulario-login .formato-input::placeholder {
  color: #C292BA;
}
.login .form-login .formulario-login.sing-up {
  grid-template-areas: "registrarse registrarse" "text3 text4" "text5 text6" "text7 text8" "text9 text9" "button3 button4";
}
.login .form-login .formulario-login.sing-up .registrarse {
  grid-area: registrarse;
}
.login .form-login .formulario-login.sing-up .text3 {
  grid-area: text3;
}
.login .form-login .formulario-login.sing-up .text4 {
  grid-area: text4;
}
.login .form-login .formulario-login.sing-up .text5 {
  grid-area: text5;
}
.login .form-login .formulario-login.sing-up .text6 {
  grid-area: text6;
}
.login .form-login .formulario-login.sing-up .text7 {
  grid-area: text7;
}
.login .form-login .formulario-login.sing-up .text8 {
  grid-area: text8;
}
.login .form-login .formulario-login.sing-up .text9 {
  grid-area: text9;
}
.login .form-login .formulario-login.sing-up .button3 {
  grid-area: button3;
  display: flex;
  justify-content: flex-end;
  padding: 0;
}
.login .form-login .formulario-login.sing-up .button3 input {
  background-color: #B58BAF;
  border: 1px solid white;
  color: #ffffff;
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  width: 152px;
  height: 2rem;
  font-size: 1rem;
}
.login .form-login .formulario-login.sing-up .button4 {
  grid-area: button4;
  display: flex;
  justify-content: flex-start;
  padding: 0;
}
.login .form-login .formulario-login.sing-up .button4 input {
  background-color: #B58BAF;
  border: 1px solid white;
  color: #ffffff;
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  width: 152px;
  height: 2rem;
  font-size: 1rem;
}
.login .inactive {
  display: none !important;
}

/* Estilos del main catalogo y sus componentes */
.header.header-bulbasaur {
  background-color: #7DB88A;
}
.header.header-bulbasaur .buscador-form .input-con-boton input[type=search]#buscar.buscador-bulbasaur {
  color: #7DB88A;
}
.header.header-bulbasaur .buscador-form .input-con-boton input[type=search]#buscar.buscador-bulbasaur::placeholder {
  color: #7DB88A;
}
.header.header-bulbasaur .buscador-form .input-con-boton button {
  background-color: #7DB88A;
}
.header.header-bulbasaur .moneda-usuario .select-moneda-bulbasaur {
  color: #7DB88A;
}

.main-catalogo {
  grid-template-rows: auto 1fr;
}
.main-catalogo .banner .span-bulbasaur {
  color: #D1788A;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.5), 1px -1px 1px rgba(255, 255, 255, 0.5), -1px 1px 1px rgba(255, 255, 255, 0.5), 1px 1px 1px rgba(255, 255, 255, 0.5);
}
.main-catalogo .contenedor-catalogo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
  border: 1px solid black;
  background-color: #ffffff;
  padding: 10px;
  justify-content: flex-start;
  color: #7DB88A;
}
.main-catalogo .contenedor-catalogo .catalogo {
  background-color: transparent;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 10px;
  width: 100%;
  max-height: 100vh;
  overflow-y: auto;
  border-radius: 5px;
  padding-right: 5px;
}
.main-catalogo .contenedor-catalogo .catalogo .producto {
  background-color: #8CD1B4;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: fit-content;
  border: 1px solid black;
  border-radius: 12px;
  gap: 10px;
  aspect-ratio: 565/415;
}
.main-catalogo .contenedor-catalogo .catalogo .producto h3, .main-catalogo .contenedor-catalogo .catalogo .producto h4, .main-catalogo .contenedor-catalogo .catalogo .producto h5 {
  text-align: left;
}
.main-catalogo .contenedor-catalogo .catalogo .producto .div-detalles-producto {
  display: grid;
  grid-template-rows: auto 6fr 4fr;
  overflow-y: auto;
}
.main-catalogo .contenedor-catalogo .catalogo .producto .div-detalles-producto .nombre-ps {
  display: flex;
  flex-direction: column;
  text-decoration: underline;
}
.main-catalogo .contenedor-catalogo .catalogo .producto .div-detalles-producto .ataque {
  max-height: 130px;
}
.main-catalogo .contenedor-catalogo .catalogo .producto .div-detalles-producto .div-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 10px 10px 0;
}
.main-catalogo .contenedor-catalogo .catalogo .producto .div-detalles-producto .div-button a {
  text-decoration: none;
}
.main-catalogo .contenedor-catalogo .catalogo .producto .div-detalles-producto .nombre-ps, .main-catalogo .contenedor-catalogo .catalogo .producto .div-detalles-producto .detalles, .main-catalogo .contenedor-catalogo .catalogo .producto .div-detalles-producto .ataque {
  color: #ffffff;
}
.main-catalogo .contenedor-catalogo .catalogo .producto .div-img-producto {
  display: flex;
  flex-direction: column;
  padding: 10px 0 10px 10px;
  justify-content: flex-start;
  align-items: center;
}
.main-catalogo .contenedor-catalogo .catalogo .producto .div-img-producto .img-producto {
  aspect-ratio: 255/355;
  max-width: 255px;
  width: 100%;
  height: auto;
  border: 1px solid white;
  border-radius: 17px;
}
.main-catalogo .contenedor-catalogo .catalogo .producto .div-img-producto .div-button {
  width: 100%;
  padding: 5px 0 0 0;
}
.main-catalogo .contenedor-catalogo .catalogo .producto .div-img-producto .div-button a {
  display: flex;
  justify-content: center;
  width: 100%;
}
.main-catalogo .contenedor-catalogo .catalogo .producto .div-img-producto .div-button a button {
  background-color: #D1788A;
  border: 1px solid white;
  color: #ffffff;
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  width: 152px;
  height: 2rem;
  font-size: 1rem;
}

.footer-bulbasaur {
  background-color: #7DB88A;
}

/* Estilos del Main Contacto y sus componentes */
.header.header-squirtle {
  background-color: #008CC4;
}
.header.header-squirtle .buscador-form input[type=search]#buscar.buscador-squirtle, .header.header-squirtle .input-con-boton input[type=search]#buscar.buscador-squirtle {
  color: #008CC4;
}
.header.header-squirtle .buscador-form input[type=search]#buscar.buscador-squirtle::placeholder, .header.header-squirtle .input-con-boton input[type=search]#buscar.buscador-squirtle::placeholder {
  color: #008CC4;
}
.header.header-squirtle .buscador-form button, .header.header-squirtle .input-con-boton button {
  background-color: #008CC4;
}
.header.header-squirtle .moneda-usuario .select-moneda-squirtle {
  color: #008CC4;
}

.main-contacto {
  grid-template-rows: auto 1fr;
}
.main-contacto .banner .span-squirtle, .main-contacto .banner .span-squirtle {
  color: #9A7C74;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.5), 1px -1px 1px rgba(255, 255, 255, 0.5), -1px 1px 1px rgba(255, 255, 255, 0.5), 1px 1px 1px rgba(255, 255, 255, 0.5);
}
.main-contacto .contenedor-contacto {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
  border: 1px solid black;
  background-color: #ffffff;
  color: #008CC4;
  padding: 10px;
  justify-content: flex-start;
}
.main-contacto .contenedor-contacto .form {
  border: 1px solid white;
  background-color: #84C7D7;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.main-contacto .contenedor-contacto .form .formulario {
  display: grid;
  width: 100%;
  grid-template-areas: "label1 text1 label2 text2" "label3 text3 label4 text4" "label5 text5 text5 text5" "button1 button1 button2 button2";
  gap: 20px;
  padding: 20px;
  border: none;
}
.main-contacto .contenedor-contacto .form .formulario .label1 {
  grid-area: label1;
}
.main-contacto .contenedor-contacto .form .formulario .label2 {
  grid-area: label2;
}
.main-contacto .contenedor-contacto .form .formulario .label3 {
  grid-area: label3;
}
.main-contacto .contenedor-contacto .form .formulario .label4 {
  grid-area: label4;
}
.main-contacto .contenedor-contacto .form .formulario .label5 {
  grid-area: label5;
}
.main-contacto .contenedor-contacto .form .formulario .text1 {
  grid-area: text1;
}
.main-contacto .contenedor-contacto .form .formulario .text2 {
  grid-area: text2;
}
.main-contacto .contenedor-contacto .form .formulario .text3 {
  grid-area: text3;
}
.main-contacto .contenedor-contacto .form .formulario .text4 {
  grid-area: text4;
}
.main-contacto .contenedor-contacto .form .formulario .text5 {
  grid-area: text5;
}
.main-contacto .contenedor-contacto .form .formulario section {
  display: flex;
  align-items: center;
}
.main-contacto .contenedor-contacto .form .formulario section label {
  color: #ffffff;
}
.main-contacto .contenedor-contacto .form .formulario .label5 {
  display: flex;
  align-items: flex-start;
}
.main-contacto .contenedor-contacto .form .formulario .button1 {
  grid-area: button1;
  display: flex;
  justify-content: flex-end;
  padding: 0;
}
.main-contacto .contenedor-contacto .form .formulario .button1 input {
  background-color: #9A7C74;
  border: 1px solid white;
  color: #ffffff;
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  width: 152px;
  height: 2rem;
  font-size: 1rem;
}
.main-contacto .contenedor-contacto .form .formulario .button2 {
  grid-area: button2;
  display: flex;
  justify-content: flex-start;
  padding: 0;
}
.main-contacto .contenedor-contacto .form .formulario .button2 input {
  background-color: #9A7C74;
  border: 1px solid white;
  color: #ffffff;
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  width: 152px;
  height: 2rem;
  font-size: 1rem;
}
.main-contacto .contenedor-contacto .form .formulario .formato-input, .main-contacto .contenedor-contacto .form .formulario .select.formato-input {
  width: 100%;
  height: 38px;
  font-size: 1rem;
  font-family: "Roboto Flex", sans-serif;
  color: #008CC4;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
}
.main-contacto .contenedor-contacto .form .formulario .formato-input-textarea {
  height: 100%;
}
.main-contacto .contenedor-contacto .form .formulario .formato-input-textarea::placeholder, .main-contacto .contenedor-contacto .form .formulario .formato-input::placeholder {
  color: #008CC4;
}

.footer-squirtle {
  background-color: #008CC4;
}

/* Estilos del main nosotros y sus componentes */
.header.header-pikachu {
  background-color: #E7C774;
}
.header.header-pikachu .buscador-form input[type=search]#buscar.buscador-pikachu, .header.header-pikachu .input-con-boton input[type=search]#buscar.buscador-pikachu {
  color: #E7C774;
}
.header.header-pikachu .buscador-form input[type=search]#buscar.buscador-pikachu::placeholder, .header.header-pikachu .input-con-boton input[type=search]#buscar.buscador-pikachu::placeholder {
  color: #E7C774;
}
.header.header-pikachu .buscador-form button, .header.header-pikachu .input-con-boton button {
  background-color: #E7C774;
}
.header.header-pikachu .moneda-usuario .select-moneda-pikachu {
  color: #E7C774;
}

.main-nosotros {
  grid-template-rows: auto 1fr;
}
.main-nosotros .banner .span-pikachu, .main-nosotros .banner .span-pikachu {
  color: #E3735F;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.5), 1px -1px 1px rgba(255, 255, 255, 0.5), -1px 1px 1px rgba(255, 255, 255, 0.5), 1px 1px 1px rgba(255, 255, 255, 0.5);
}
.main-nosotros .contenedor-nosotros {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
  border: 1px solid black;
  background-color: #ffffff;
  color: #E7C774;
  padding: 10px;
  justify-content: flex-start;
}
.main-nosotros .contenedor-nosotros .nosotros {
  display: grid;
  grid-template-areas: "texto1 imagen1" "imagen2 texto2";
  gap: 30px;
  background-color: #FBE381;
  padding: 20px;
  text-align: justify;
  border-radius: 5px;
}
.main-nosotros .contenedor-nosotros .nosotros .texto1 {
  grid-area: texto1;
}
.main-nosotros .contenedor-nosotros .nosotros .imagen1 {
  grid-area: imagen1;
}
.main-nosotros .contenedor-nosotros .nosotros .texto2 {
  grid-area: texto2;
}
.main-nosotros .contenedor-nosotros .nosotros .imagen2 {
  grid-area: imagen2;
}
.main-nosotros .contenedor-nosotros .nosotros .imagen1, .main-nosotros .contenedor-nosotros .nosotros .imagen2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-nosotros .contenedor-nosotros .nosotros .imagen1 img, .main-nosotros .contenedor-nosotros .nosotros .imagen2 img {
  width: 100%;
  max-width: 290px;
  height: auto;
  aspect-ratio: 1/1;
  border-radius: 17px;
  border: 1px solid #84623D;
}
.main-nosotros .contenedor-nosotros .nosotros .texto1, .main-nosotros .contenedor-nosotros .nosotros .texto2 {
  color: #84623D;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 17px;
}
.main-nosotros .contenedor-nosotros .nosotros .texto1 p:nth-child(2), .main-nosotros .contenedor-nosotros .nosotros .texto2 p:nth-child(2) {
  padding: 10px 0;
}
.main-nosotros .contenedor-nosotros .nosotros .texto1 p:nth-child(3), .main-nosotros .contenedor-nosotros .nosotros .texto2 p:nth-child(3) {
  padding: 0 0 10px 0;
}
.main-nosotros .contenedor-nosotros .nosotros .texto1 p, .main-nosotros .contenedor-nosotros .nosotros .texto2 p {
  padding-bottom: 0;
}

.footer-pikachu {
  background-color: #E7C774;
}

/* Estilos del Main Catalogo y sus componentes */
.header.header-charizard {
  background-color: #C65E67;
}
.header.header-charizard .buscador-form input[type=search]#buscar.buscador-charizard, .header.header-charizard .input-con-boton input[type=search]#buscar.buscador-charizard {
  color: #C65E67;
}
.header.header-charizard .buscador-form input[type=search]#buscar.buscador-charizard::placeholder, .header.header-charizard .input-con-boton input[type=search]#buscar.buscador-charizard::placeholder {
  color: #C65E67;
}
.header.header-charizard .buscador-form button, .header.header-charizard .input-con-boton button {
  background-color: #C65E67;
}
.header.header-charizard .moneda-usuario .select-moneda-charizard {
  color: #C65E67;
}

.main-ofertas {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 10px;
}
.main-ofertas .banner .span-charizard {
  color: #419EAF;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.5), 1px -1px 1px rgba(255, 255, 255, 0.5), -1px 1px 1px rgba(255, 255, 255, 0.5), 1px 1px 1px rgba(255, 255, 255, 0.5);
}
.main-ofertas .contenedor-ofertas {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
  border: 1px solid black;
  background-color: #ffffff;
  padding: 10px;
  justify-content: flex-start;
  color: #C65E67;
}
.main-ofertas .contenedor-ofertas .ofertas {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 5px;
  width: 100%;
  max-height: 100vh;
  overflow-y: auto;
  border-radius: 5px;
  background-color: #FBA867;
  border: 1px solid white;
}
.main-ofertas .contenedor-ofertas .ofertas .ofertas-producto {
  background-color: transparent;
  display: grid;
  grid-template-columns: 4fr 4fr 4fr;
  border-radius: 5px;
  gap: 10px;
}
.main-ofertas .contenedor-ofertas .ofertas .ofertas-producto .div-img-producto {
  display: flex;
  padding: 10px;
  justify-content: flex-start;
  align-items: flex-start;
}
.main-ofertas .contenedor-ofertas .ofertas .ofertas-producto .div-img-producto .img-producto {
  aspect-ratio: 326/454;
  max-width: 326px;
  width: 100%;
  max-height: 455px;
  border: 1px solid white;
  border-radius: 17px;
}
.main-ofertas .contenedor-ofertas .ofertas .ofertas-producto .div-detalles-producto-ofertas {
  display: grid;
  grid-template-rows: auto 6fr 4fr;
  overflow-y: auto;
}
.main-ofertas .contenedor-ofertas .ofertas .ofertas-producto .div-detalles-producto-ofertas .nps-ofertas, .main-ofertas .contenedor-ofertas .ofertas .ofertas-producto .div-detalles-producto-ofertas .detalles-ofertas, .main-ofertas .contenedor-ofertas .ofertas .ofertas-producto .div-detalles-producto-ofertas .ataque-ofertas {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #ffffff;
  padding-left: 5px;
}
.main-ofertas .contenedor-ofertas .ofertas .ofertas-producto .div-detalles-producto-ofertas .ataque-ofertas {
  justify-content: flex-start;
  align-items: flex-start;
  max-height: 70px;
}
.main-ofertas .contenedor-ofertas .ofertas .ofertas-producto .grafica {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
}
.main-ofertas .contenedor-ofertas .ofertas .ofertas-producto .grafica span {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
  width: 90%;
  border: 1px solid black;
}
.main-ofertas .contenedor-ofertas .contenedor-tabla {
  max-width: 100%;
  width: 100%;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.main-ofertas .contenedor-ofertas .contenedor-tabla table {
  display: table;
  border-collapse: separate;
  border-spacing: 0;
  max-width: 100%;
  width: 100%;
  border: 1px solid white;
  border-radius: 5px;
  overflow-x: auto;
}
.main-ofertas .contenedor-ofertas .contenedor-tabla table th, .main-ofertas .contenedor-ofertas .contenedor-tabla table td {
  padding: 5px;
  text-align: center;
  border-bottom: 1px solid white;
}
.main-ofertas .contenedor-ofertas .contenedor-tabla table thead {
  font-size: 1.1rem;
  text-decoration: underline;
  background-color: #ffffff;
  color: #FBA867;
}
.main-ofertas .contenedor-ofertas .contenedor-tabla table tbody tr:last-child td {
  border-bottom: none;
}
.main-ofertas .contenedor-ofertas .contenedor-tabla table td a {
  text-decoration: none;
  color: #ffffff;
}

.footer-charizard {
  background-color: #C65E67;
}

/* Media Querys 992px ---------------------------------------------------*/
@media (max-width: 992px) {
  .header {
    grid-template-columns: 1fr;
    max-height: 78px;
    transition: max-height 1s ease-in-out;
    overflow-y: hidden;
    max-width: 100%;
  }
  .header .menu-opciones, .header .moneda-usuario {
    display: none;
  }
  .header .buscador {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header .buscador .buscador-form {
    width: 100%;
  }
  .header .buscador #toggle-header {
    display: flex;
    background-color: inherit;
    border: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-left: 20px;
  }
  .header .buscador #toggle-header img {
    margin: 0 auto;
    width: 2rem;
    height: auto;
  }
  .header.expandido {
    max-height: 500px;
  }
  .header.expandido .menu-opciones, .header.expandido .moneda-usuario {
    display: flex;
  }
  .main .banner span {
    font-size: 1.1rem;
    width: 100%;
  }
  .main .banner .span1 {
    top: 20%;
  }
  .main .noticias {
    justify-content: center;
    max-width: 100%;
  }
  .main .noticias .titulo {
    padding-top: 5px;
  }
  .main .noticias .videos-ultimas-noticias {
    grid-template-columns: 1fr;
    max-width: 100%;
  }
  .main .noticias .videos-ultimas-noticias .videos {
    padding-top: 0;
    max-width: 100%;
  }
  .main .noticias .videos-ultimas-noticias .videos h4 {
    width: 80%;
  }
  .main .noticias .videos-ultimas-noticias .videos iframe {
    max-width: 100%;
    width: auto;
    max-height: 100%;
    height: auto;
  }
  .main .destacados {
    justify-content: center;
    max-width: 100%;
    padding: 5px;
  }
  .main .destacados .contenedor-cards {
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr;
    max-width: 100%;
    padding: 5px;
  }
  .main .destacados .contenedor-cards .compra-venta, .main .destacados .contenedor-cards .intercambio {
    padding: 10px;
  }
  .main .destacados .contenedor-cards .compra-venta .cards, .main .destacados .contenedor-cards .intercambio .cards {
    padding: 10px;
    border: none;
    gap: 10px;
  }
  .main .destacados .contenedor-cards .compra-venta .cards .contenido-card, .main .destacados .contenedor-cards .intercambio .cards .contenido-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px dotted white;
    border-radius: 17px;
  }
  .main .destacados .contenedor-cards .compra-venta .cards .contenido-card :last-child, .main .destacados .contenedor-cards .intercambio .cards .contenido-card :last-child {
    border-bottom: none;
  }
  .main .destacados .contenedor-cards .compra-venta .cards .contenido-card img, .main .destacados .contenedor-cards .intercambio .cards .contenido-card img {
    margin-top: 5px;
    max-width: 95%;
  }
  .footer {
    padding: 10px 20px;
  }
  .footer .links, .footer .redes {
    justify-content: flex-start;
  }
  .footer .links h2, .footer .redes h2 {
    font-size: 1.3rem;
  }
  .footer .links ul {
    flex-direction: column;
    width: 80%;
  }
  .footer .redes ul {
    width: 80%;
    justify-content: space-between;
  }
  .footer .redes ul li {
    padding: 0;
    justify-content: center;
  }
  /* Media Querys 992px CATALOGO */
  .main-catalogo .contenedor-catalogo .catalogo {
    grid-template-columns: 1fr;
  }
  .main-catalogo .contenedor-catalogo .catalogo .producto {
    aspect-ratio: auto;
    grid-template-columns: 1fr 1fr;
  }
  .main-catalogo .contenedor-catalogo .catalogo .producto .div-detalles-producto {
    padding: 10px 0 10px 0;
    grid-template-rows: auto 8fr 2fr;
  }
  .main-catalogo .contenedor-catalogo .catalogo .producto .div-detalles-producto .ataque {
    max-height: 20px;
  }
  /* Media Querys 992px OFERTAS */
  .main-ofertas .contenedor-ofertas .ofertas .ofertas-producto {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "img detail" "graph graph";
  }
  .main-ofertas .contenedor-ofertas .ofertas .ofertas-producto .div-img-producto-ofertas {
    grid-area: img;
    padding: 10px 0 10px 10px;
    border: 1px solid white;
    justify-content: center;
    align-items: center;
  }
  .main-ofertas .contenedor-ofertas .ofertas .ofertas-producto .div-detalles-producto-ofertas {
    grid-area: detail;
    padding: 10px 0 10px 0;
    grid-template-rows: auto 8fr 2fr;
    border: 1px solid white;
  }
  .main-ofertas .contenedor-ofertas .ofertas .ofertas-producto .div-detalles-producto-ofertas .ataque {
    max-height: 20px;
  }
  .main-ofertas .contenedor-ofertas .ofertas .ofertas-producto .grafica {
    grid-area: graph;
    aspect-ratio: 1/0.6;
  }
  .main-ofertas .contenedor-ofertas .ofertas .ofertas-producto .grafica span {
    aspect-ratio: 1/0.6;
    height: 50%;
  }
  table td:nth-child(3), table th:nth-child(3), table td:nth-child(4), table th:nth-child(4), table td:nth-child(8), table th:nth-child(8) {
    display: none;
  }
}
/* Media Querys 768px ---------------------------------------------------*/
@media (max-width: 768px) {
  .main-contacto .contenedor-contacto .form .formulario {
    grid-template-areas: "label1 text1" "label2 text2" "label3 text3" "label4 text4" "label5 label5" "text5 text5" "button1 button2";
  }
  .footer .links, .footer .redes {
    flex-direction: column;
  }
  .footer .links ul {
    flex-direction: row;
    height: 100%;
    width: 100%;
  }
  .footer .links ul li {
    height: 100%;
  }
  .footer .links ul li a {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  /* Media Querys 768px NOSOTROS */
  .main-nosotros .contenedor-nosotros .nosotros {
    display: grid;
    grid-template-areas: "texto1" "imagen1" "texto2" "imagen2";
  }
  /* Media Querys 768px OFERTAS */
  .main-ofertas .contenedor-ofertas .ofertas .ofertas-producto {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "img detail" "graph graph";
  }
  .main-ofertas .contenedor-ofertas .ofertas .ofertas-producto .div-img-producto-ofertas .img-producto {
    aspect-ratio: 255/355;
    width: 100%;
    height: auto;
  }
  .main-ofertas .contenedor-ofertas .ofertas .ofertas-producto .div-detalles-producto-ofertas {
    grid-area: detail;
    padding: 10px 0 10px 0;
    grid-template-rows: auto 8fr 2fr;
    overflow-y: auto;
  }
  .main-ofertas .contenedor-ofertas .ofertas .ofertas-producto .grafica {
    grid-area: graph;
  }
  .main-ofertas .contenedor-ofertas .ofertas .ofertas-producto .grafica span {
    aspect-ratio: 1/0.6;
    height: 50%;
  }
}
/* Media Querys 576px ---------------------------------------------------*/
@media (max-width: 576px) {
  .header {
    grid-template-columns: 1fr;
  }
  .header > div, .header > nav {
    align-items: flex-start;
  }
  .header > nav > ul {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  .header > nav > ul li, .header > nav > ul li.marca {
    width: 100%;
  }
  .header > nav > ul li a, .header > nav > ul li.marca a {
    justify-content: flex-start;
  }
  .main {
    grid-template-rows: auto 1fr;
  }
  .main .banner {
    max-width: 100%;
    height: auto;
  }
  .main .banner span {
    font-size: 1.1rem;
    width: 100%;
  }
  .main .banner .span1 {
    top: 20%;
  }
  .main .noticias {
    justify-content: center;
    max-width: 100%;
  }
  .main .noticias .titulo {
    padding-top: 5px;
  }
  .main .noticias .videos-ultimas-noticias {
    grid-template-columns: 1fr;
    max-width: 100%;
  }
  .main .noticias .videos-ultimas-noticias iframe {
    max-width: 100%;
    width: auto;
    max-height: 100%;
    height: auto;
  }
  .main .destacados .contenedor-cards {
    grid-template-rows: none;
    grid-template-columns: 1fr;
  }
  .main .destacados .contenedor-cards .compra-venta, .main .destacados .contenedor-cards .intercambio {
    max-width: 100%;
    width: 100%;
  }
  .main .destacados .contenedor-cards .compra-venta .cards, .main .destacados .contenedor-cards .intercambio .cards {
    grid-template-columns: 1fr;
    padding: 10px;
    border: none;
    gap: 10px;
  }
  .main .destacados .contenedor-cards .compra-venta .cards .contenido-card, .main .destacados .contenedor-cards .intercambio .cards .contenido-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px dotted white;
    border-radius: 17px;
  }
  .main .destacados .contenedor-cards .compra-venta .cards .contenido-card :last-child, .main .destacados .contenedor-cards .intercambio .cards .contenido-card :last-child {
    border-bottom: none;
  }
  .main .destacados .contenedor-cards .compra-venta .cards .contenido-card img, .main .destacados .contenedor-cards .intercambio .cards .contenido-card img {
    margin-top: 5px;
    max-width: 95%;
  }
  .footer {
    grid-template-columns: 1fr;
  }
  .footer .links ul {
    flex-direction: column;
  }
  .footer .redes ul {
    justify-content: space-evenly;
  }
  /* --- Destacados --- */
  .contenedor-cards section h3,
  .contenido-card h5 {
    padding: 0 0 0 5px;
  }
  /* Formulario de contacto */
  .main-contacto .contenedor-contacto .form {
    padding: 5px;
  }
  .main-contacto .contenedor-contacto .form .formulario {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "label1 label1" "text1 text1" "label2 label2" "text2 text2" "label3 label3" "text3 text3" "label4 label4" "text4 text4" "label5 label5" "text5 text5" "button1 button2";
    padding: 5px;
  }
  .main-contacto .contenedor-contacto .form .formulario .button1 input, .main-contacto .contenedor-contacto .form .formulario .button2 input {
    width: 100%;
    max-width: 152px;
    align-items: center;
    justify-content: center;
  }
  .main-contacto .contenedor-contacto .form .formulario .label1, .main-contacto .contenedor-contacto .form .formulario .label2, .main-contacto .contenedor-contacto .form .formulario .label3, .main-contacto .contenedor-contacto .form .formulario .label4, .main-contacto .contenedor-contacto .form .formulario .label5 {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .main-ofertas .contenedor-ofertas .ofertas .ofertas-producto {
    grid-template-columns: 1fr;
    grid-template-areas: "img" "detail" "graph";
  }
  .main-ofertas .contenedor-ofertas .ofertas .contenedor-tabla {
    max-height: 500px;
    overflow-x: auto;
    overflow-y: auto;
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */
