@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#body{
    font-family: 'Roboto Flex',sans-serif;
    font-size: 1rem;
    background-repeat: repeat;
    background-image: 
    linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)),
    url('../images/background-151.jpg');

}

.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

#header {
    display: grid;
    grid-template-columns: 2.5fr 7fr 2.5fr;
    gap: 10px;
    background-color: #E63946;
    padding: 10px;
    color: white;
    border-radius: 5px;
}

#header > div, #header nav {
    display: flex;
    align-items: center;
    padding: 10px;
}

.buscador-form {
    background-color: white;
    border-radius: 5px;
}

.input-con-boton {
    display: flex;
    overflow: hidden;
    border-radius: 5px;
}

.input-con-boton input[type="search"] {
    flex: 1;
    border: none;
    padding: 10px;
    font-size: 1rem;
    outline: none;
    color: #003366;
}
.input-con-boton button {
    background-color: #E63946;
    border: 1px solid white;
    padding: 0 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}


.visually-hidden {
    position: absolute;
    left: -10000px;
}

.input-con-boton button:hover,
.input-con-boton button:focus,
.input-con-boton button:active {
    outline: none;
    box-shadow: none;
}

#header > nav > ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

#header > nav > ul > li {
    padding: 5px 0;
    text-align: center;
}

#header > nav > ul > li > a {
    color: white;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
}

.moneda-usuario, .moneda-usuario div {

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.select-moneda {
    font-family: inherit;
    font-size: 1rem;
    color: #003366;
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    height: 40px;
    outline: none;
    cursor: pointer;
    margin: 0 10px;
}

.select-moneda option {
    background-color: white;
    color: #003366;
}

.actual {
    font-weight: bold;
    text-decoration: underline;
}

.marca {
    font-size: 1.2rem;
}

#main {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    padding: 10px 0;
    background-color: transparent;
    max-width: 1200px;

}

.noticias, .destacados {
    background-color: #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    border-radius: 5px;
}

.noticias {
    background-color: #E3B448;
}

.destacados {
    background-color: #003366;
}

#footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #E63946;
    color: white;
    padding: 20px;
    gap: 10px;
    border: 1px solid white;
    max-width: 1200px;
    border-radius: 5px;
}

.links, .redes {
    display: flex;
    align-items: center;
    justify-content:space-around;
    font-size: 1rem;
}

.links ul, .redes ul {
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.links ul li a {
    text-decoration: underline;
    color: white;
}

.redes ul {
    justify-content: flex-end;
}

.redes ul li {
    padding-left: 20px;
}

.redes ul li a img, #header .moneda-usuario img {
    width: 45px;
    height: 45px;
}