/* Variables */
$font-family-base: 'Roboto Flex', sans-serif;
$font-size-base: 1rem;

/* Configuracion generica */
$padding10: 10px;
$radius5: 5px;
$radius-cartas: 14px;
$border-negro: 1px solid black;
$border-blanco: 1px solid white;
$gap10: 10px;