@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    min-height: 100vh;
    font-size: 1rem;
    font-family: 'Roboto Flex',sans-serif;
    color: white;
}
.body{
    background-repeat: repeat;
    background-image: 
    linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)),
    url('../images/background-151.jpg');
}

.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    max-width: 1200px;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    padding: 10px;
}

/* Estilos del header y sus componentes */

.header {
    display: grid;
    grid-template-columns: 2.5fr 7fr 2.5fr;
    gap: 10px;
    background-color: #E63946;
    padding: 10px;
    color: white;
    border-radius: 5px;
    position: sticky;
    top: 10px;
    border: 1px solid black;
    z-index: 10000;
}

#toggle-header {
    display: none;
    /* background: none;
    border: none;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    margin-left: 10px; */
}

.header > div, .header nav {
    display: flex;
    align-items: center;
    padding: 10px;
}

.buscador-form, .formato-input, select.formato-input {
    background-color: white;
    border-radius: 5px;
    border: white;
}

.input-con-boton {
    display: flex;
    overflow: hidden;
    border-radius: 5px;
}

.input-con-boton input[type="search"] {
    flex: 1;
    border: none;
    padding: 10px;
    font-size: 1rem;
    outline: none;
    color: #003366;
}
.input-con-boton button, .button1 input, .button2 input, .buscador button, .div-button button  {
    background-color: #E63946;
    border: 1px solid white;
    padding: 0 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color:white;
}

.visually-hidden {
    position: absolute;
    left: -10000px;
}

.input-con-boton button:hover,
.input-con-boton button:focus,
.input-con-boton button:active {
    outline: none;
    box-shadow: none;
}

.header > nav > ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.header > nav > ul > li {
    padding: 5px 0;
    text-align: center;
}

.header > nav > ul > li > a {
    color: white;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
}

.moneda-usuario, .moneda-usuario div {

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.select-moneda {
    font-family: inherit;
    font-size: 1rem;
    color: #003366;
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    height: 38px;
    outline: none;
    cursor: pointer;
    margin: 0 10px;
}

.select-moneda option {
    background-color: white;
    color: #003366;
}

.actual {
    font-weight: bold;
    text-decoration: underline;
}

.actual a img {
    margin-right: 5px;
}

.marca {
    font-size: 1.2rem;
}

/* Estilos del main index y sus componentes */

.main {
    display: grid;
    grid-template-rows: auto 1fr 1fr;
    gap: 10px;
    padding: 10px 0;
    background-color: transparent;
}

.banner {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 5px;

}

.banner img {

    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner span {
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2rem;
    font-weight: bold;
    z-index: 2;
    text-shadow: 2px 2px 4px rgba(0,0,0,1);
}

.banner .span1 {
    top: 35%;
}

.banner .span2 {
    top: 55%;
}
.noticias, .destacados, .contenedor-contacto, .contenedor-nosotros, .contenedor-catalogo, .contenedor-ofertas {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
    border-radius: 5px;
    border: 1px solid black;
}

.noticias {
    background-color: #E3B448;
}

.titulo {
    text-decoration: underline;
    padding-top: 10px;
    text-align: center;
}
iframe {
    border: 1px solid black;
    margin: 5px;
}

.videos-ultimas-noticias {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
}

.videos-ultimas-noticias .videos {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.destacados {
    background-color: #003366;
    display: flex;
    flex-direction: column;
    align-items:center;
    max-width: 1200px;
    padding: 10px;
}

.destacados .contenedor-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 100%;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
}

.contenedor-cards section h3, .contenido-card h5 {
    padding: 5px 0;
}

.compra-venta, .intercambio {
    display: flex;
    flex-direction: column;
    align-items:center;
    border-radius: 5px;
    padding: 10px;
    background-color: white;
    color: #003366;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    border: 1px solid white;
    background-color:#003366;
    border-radius: 10px;
    color: white;
    padding: 5px;
}
.contenido-card {
    text-align: center;
    background-color:transparent;
    border-radius: 12px;
    padding: 5px;
}

.contenido-card img {
    width: 95%;
    object-fit: contain;
    border-radius: 14px;
    box-shadow: 0 0 10px #ffffff;
    border: 1px solid white;
}

/* Estilos del footer y sus componentes */

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #E63946;
    color: white;
    padding: 20px;
    gap: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.links, .redes {
    display: flex;
    align-items: center;
    justify-content:space-around;
    font-size: 1rem;
}

.links ul, .redes ul {
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.links ul li a {
    text-decoration: underline;
    color: white;
}

.redes ul {
    justify-content: flex-end;
}

.redes ul li {
    padding-left: 20px;
}

.redes ul li a img, #header .moneda-usuario img {
    width: 45px;
    height: 45px;
}

/* Estilos del main contacto y sus componentes */

.main-contacto {
    grid-template-rows: auto 1fr;
}

.contenedor-contacto {
    background-color: #003366;
    padding: 20px;
    justify-content: flex-start;
}

.formulario {
    display: grid;
    grid-template-areas: 
    'label1 text1 label2 text2'
    'label3 text3 label4 text4'
    'label5 text5 text5 text5'
    'button1 button1 button2 button2';
    gap: 30px;
    padding: 20px;
}

.label1 {
    grid-area: label1;
}

.label2 {
    grid-area: label2;
}

.label3 {
    grid-area: label3;
}

.label4 {
    grid-area: label4;
}

.label5 {
    grid-area: label5;
}

.text1 {
    grid-area: text1;
}

.text2 {
    grid-area: text2;
}

.text3 {
    grid-area: text3;
}

.text4 {
    grid-area: text4;
}

.text5 {
    grid-area: text5;
}


fieldset section {
    display: flex;
    align-items: center;
}

.button1 {
    grid-area: button1;
    display: flex;
    justify-content: flex-end;
    padding: 0 10px 10px 10px;
}

.button2 {
    grid-area: button2;
    justify-content: flex-start;
    padding: 0 10px 10px 10px;
}

.button1 input, .button2 input, .div-button button {
    height: 38px;
    width: 100px;
    font-size: 1rem;
    font-family: 'Roboto Flex', sans-serif;
}

.formato-input, select.formato-input {
    width: 100%;
    height: 22px;
    color: #003366;
    font-size: 1rem;
}

.formato-input-textarea {
    height:100%;
}

.formulario {
    border: none;
}


/* Estilos del main nosotros y sus componentes */

.main-nosotros {
    grid-template-rows: auto 1fr;
}
.contenedor-nosotros {
    background-color: #E3B448;
    padding: 20px;
    justify-content: flex-start;
}

.nosotros {
    display: grid;
    grid-template-areas: 
    'texto1 imagen1'
    'imagen2 texto2';
    gap: 30px;
    padding: 20px;
    text-align: justify;
}

.texto1 {
    grid-area: texto1;
}

.imagen1 {
    grid-area: imagen1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagen2 {
    grid-area: imagen2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.texto2 {
    grid-area: texto2;
}

.texto1, .texto2, .imagen1, .imagen2 {
    color: #003366;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 5px 10px 0 5px;
    border-radius: 5px;
    border: 1px solid white;
    font-size: 1.1rem;
    
}

.imagen1 div img, .imagen2 div img {
    border: 1px solid white;
    box-shadow: 0 0 10px #ffffff;
    border-radius: 5px;
}

/* Estilos del main catalogo y sus componentes */

.main-catalogo {
    grid-template-rows: auto 1fr;
    font-size: 1rem;
}

.contenedor-catalogo {
    background-color: #ffffff;
    padding: 20px;
    justify-content: flex-start;
    color:#003366;
}

.catalogo, .ofertas {
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    width: 100%;
    max-height: calc(350px*3);
    overflow-y:scroll;
    border-radius: 12px;
}

.producto {
    background-color: #003366;
    display: grid;
    grid-template-columns: 2.6fr 3.4fr;
    width: 100%;
    border: 1px solid black; 
    border-radius: 12px;
}

.div-detalles-producto {
    display: grid;
    grid-template-rows: 0.7fr 4fr 2.2fr 1.1fr;
}

.div-img-producto {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-producto {
    max-width: 255px;
    width: auto;
    max-height: 350px;
    height: auto;
    border: 1px solid white;
    border-radius: 14px;
    box-shadow: 0 0 10px #ffffff;
}



.nombre-ps {
    display: flex;
    text-decoration: underline;
}

.ataque {
    max-height: 103px;
    overflow-y: scroll;
}

.div-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 10px 0 0;
}

.div-button a {
    text-decoration: none;
}

.nombre-ps, .detalles, .ataque {
    color: #ffffff;
}


.main-ofertas {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto;
    gap: 10px;
}

.contenedor-ofertas {
    background-color: #E3B448;
    background-color: #ffffff;
    padding: 20px;
    justify-content: flex-start;
    color:#003366;
}


.nps-ofertas, .detalles-ofertas, .ataque-ofertas {
    color: white;
    border: 1px solid white;
}

.ofertas {
    grid-template-rows: 1fr 1fr;
    gap: 5px;
    width: 100%;
    overflow-y:scroll;
    border-radius: 12px;
    background-color: #003366;
    border: 1px solid white;
    grid-template-columns: none;
}
.div-detalles-producto-ofertas {
    display: grid;
    grid-template-rows: 0.7fr 4fr 2.3fr;
}
.ofertas-producto {
    background-color: transparent;
    display: grid;
    grid-template-columns: 2fr 5fr 5fr;
    border-radius: 5px;
    border: 1px solid white;
}

.grafica {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    max-width: 100%;
    max-height: 100%;
    border: 1px solid #ffffff;
    margin: 10px;
    border-radius: 5px;
}

.contenedor-tabla {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    color: #ffffff;
}

table {
    border-collapse: separate;
    border-spacing: 0 5px;
    width: 100%;
    margin: 10px;
}

th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid white;
}

table td a {
    text-decoration: none;
    color: #ffffff;
}

thead th {
    font-size: 1.5rem;
}


/* Media Querys */

@media (max-width: 430px) {

    /* === BODY === */
    .body {
        overflow-x: hidden;
    }

    /* === HEADER === */
    .header {
        grid-template-columns: 1fr;
        max-height: 100px;
        transition: max-height 1s ease-in-out;
        overflow-y: hidden;
    }

    .header .menu-opciones, .header .moneda-usuario {
        display: none;
    }

    .header.expandido {
        max-height: 500px;
    }

    .header.expandido .menu-opciones, .header.expandido .moneda-usuario {
        display: flex;
    }

    .buscador {
        width:100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .buscador-form {
        width: 100%;
    }

    #toggle-header {
        background-color: #E63946;
        border: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    #toggle-header img{
        margin: 0 auto;
    }

    .header > div, .header > nav {
        align-items: flex-start;
        padding: 5px;
    }

    .header > nav > ul {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    /* === MAIN === */
    .main {
        grid-template-rows: auto;
    }

    /* --- Banner --- */
    .banner {
        max-width: 100%;
        height: auto;
    }

    .banner span {
        font-size: 1.3rem;
    }

    .banner .span1 {
        top: 10%;
    }

    /* --- Noticias --- */
    .titulo {
        padding-top: 5px;
    }

    .noticias {
        justify-content: center;
    }

    .videos-ultimas-noticias {
        grid-template-columns: 1fr;
        max-width: 100vw;
    }

    iframe {
        width: auto;
        height: auto;
    }

    /* --- Destacados --- */
    .destacados {
        justify-content: center;
        max-width: 100vw;
        padding: 5px;
    }

    .destacados .contenedor-cards {
        grid-template-columns: 1fr;
        max-width: 100vw;
        padding: 5px;
    }

    .contenedor-cards section h3,
    .contenido-card h5 {
        padding: 0 0 0 5px;
    }

    .compra-venta,
    .intercambio {
        background-color: #003366;
        color: white;
        padding: 5px;
    }

    .cards {
        grid-template-columns: 1fr;
        padding: 5px;
        border: none;
    }

    .contenido-card {
        border: 1px solid white;
    }

    /* === FOOTER === */
    .footer {
        grid-template-columns: 1fr;
        padding: 10px;
    }

    .links,
    .redes {
        justify-content: flex-start;
    }

    .links ul {
        flex-direction: column;
        width: 80%;
    }

    .redes ul {
        width: 80%;
        justify-content: space-between;
    }

    .redes ul li {
        padding: 0;
        justify-content: center;
    }

/* Formulario de contacto */

    .formulario {
        grid-template-areas: 
        'label1 label1'
        'text1 text1'
        'label2 label2'
        'text2 text2'
        'label3 label3'
        'text3 text3'
        'label4 label4'
        'text4 text4'
        'label5 label5'
        'text5 text5'
        'button1 button2';
    }
    .label1, .label2, .label3, .label4, .label5 {
        align-items: flex-start;
        justify-content: flex-start;
    }
    
    /* nosotros */
    .nosotros {
        grid-template-areas:
        "texto1"
        "imagen1"
        "texto2"
        "imagen2";
    }

}
