@use "../abstracts/variables" as *;
@use "../base/paletas" as *;

//  Contenedores padres

.body {
    background-repeat: repeat;
    background-image: 
    linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)),
    url('../images/background-151.jpg');
}

.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 10px;
    max-width: 1200px;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    padding: $padding10;
    ::-webkit-scrollbar {
        width: 12px; /* o el ancho que tenga tu scrollbar */
    }
    ::-webkit-scrollbar-track {
        background: transparent; /* ¡Este es el espacio que se ve feo! */
    }
    ::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.3); /* O transparent si no querés ver el thumb */
        border-radius: 6px;
    }
}