@use "../abstracts/variables" as *;
@use "../base/paletas" as *;

//  Contenedores padres
html {
    height: 100%;
    min-height: 100vh;
}

.body {
    background-image: url('../images/background-151.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}

.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 10px;
    max-width: 1200px;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    padding: $padding10;
    ::-webkit-scrollbar {
        width: 5px; /* o el ancho que tenga tu scrollbar */
    }
    ::-webkit-scrollbar-track {
        background: transparent; /* ¡Este es el espacio que se ve feo! */
    }
    ::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.3); /* O transparent si no querés ver el thumb */
        border-radius: 6px;
    }
}