@use "../abstracts/variables" as *;
@use "../base/paletas" as *;
@use "../abstracts/mixins.scss" as *;

/* Estilos del header y sus componentes */
.header {
    display: grid;
    grid-template-columns: 3fr 6.5fr 2.5fr;
    gap: 5px;
    background-color: $bg-header-footer-0150;
    padding: 10px 20px;
    border-radius: $radius5;
    position: sticky;
    top: 10px;
    z-index: 1000;
    border: $border-negro;
    max-width: 100%;
    #toggle-header {
        display: none;
    }
    div, nav {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 100%;
    }
    .buscador-form {
        background-color: $texto-header-footer-0150;
        border-radius: $radius5;
        border: $border-blanco;
        width: 100%;
        .input-con-boton {
            display: flex;
            overflow: hidden;
            border-radius: $radius5;
            max-height: 2rem;
            width: 100%;
            padding: 0;
            background-color: $texto-header-footer-0150;
            button {
                @include boton-1($bg-header-footer-0150, $border-blanco, $texto-header-footer-0150, $radius5, 2rem);
                img {
                    max-width: 100%;
                    width: 100%;
                    height: auto;
                }
            }
            input[type="search"] {
                width: 100%;
                outline: none;
                color: $bg-header-footer-0150;
                font-size: $font-size-base;
                border: $border-blanco;
                padding-left: 5px;
            }
            #buscar::placeholder{
                color: $bg-header-footer-0150;
                background-color: $texto-header-footer-0150
            }
            button:hover, button:focus, button:active {
                outline: none;
                box-shadow: none;
            }
        }
        .visually-hidden {
            position: absolute;
            left: -10000px;
        }
    }
    nav ul {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        li {
            padding: 5px 0;
            text-align: center;
            a {
                text-transform: uppercase;
                font-size: 1.1rem;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 5px 0;
                color: $texto-header-footer-0150;
                img {
                    display: none;
                }
            }
        }
        li.actual {
            font-weight: bold;
            a img {
                display: flex;
            }
        }
        li.marca {
            font-size: 1.2rem;
        }
    }
    .moneda-usuario {
        justify-content: space-evenly;
        color: $texto-header-footer-0150;
        label {
            padding-right: 5px;
        }
        .select-moneda {
            font-family: $font-family-base;
            font-size: $font-size-base;
            color: $bg-header-footer-0150;
            background-color: $texto-header-footer-0150;
            border: $border-blanco;
            border-radius: $radius5;
            padding: 0 5px 0 5px;
            height: 2rem;
            outline: none;
            cursor: pointer;
        }
        a img {
        max-height: 2rem;
        height: 100%;
        width: auto;
        }
    }
}