@use "../abstracts/variables" as *;
@use "../base/paletas" as *;
@use "../abstracts/mixins" as *;

//  Main Index

.main {
    display: grid;
    grid-template-rows: auto 1fr 1fr;
    gap: $gap10;
    padding: 10px 0;
    background-color: transparent;
    }

.banner {
    position: relative;
    max-width: 1200px;
    height: 100%;
    overflow: hidden;
    border: $border-negro;
    border-radius: $radius5;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    span {
        color: $color-destacar-0150;
        text-align: center;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2rem;
        font-weight: bold;
        z-index: 2;
        @include tshadow(rgba(0, 0, 0, 0.4));
    }
    .span1 {
        top: 30%;
    }
    .span2 {
        top: 60%;
    }
}