@use "../abstracts/variables" as *;

// Estilos Base

html, .body {
    width: 100%;
    min-height: 100vh;
    color: #f0f0f0;
    font-size: $font-size-base;
    font-family: $font-family-base;
}

.body {
    background-repeat: repeat;
    background-image: 
    linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)),
    url('../images/background-151.jpg');
}