// Paleta de Colores

// Mewtwo Index
$bg-header-footer-0150: #C292BA;
$texto-header-footer-0150:#ffffff;
$bg-seccion-main-1-0150:$texto-header-footer-0150;
$texto-seccion-main-1-0150: $bg-header-footer-0150;
$bg-seccion-main-2-0150: #E3B3CB;
$texto-seccion-main-2-0150: #ffffff;
$color-destacar-0150: #B58BAF;


// Bulbasaur Catalogo
$bg-header-footer-0001: #7DB88A;
$texto-header-footer-0001:#ffffff;
$bg-seccion-main-1-0001:$texto-header-footer-0001;
$texto-seccion-main-1-0001: $bg-header-footer-0001;
$bg-seccion-main-2-0001: #8CD1B4;
$texto-seccion-main-2-0001: #ffffff;
$color-destacar-0001: #D1788A;

// Squirtle Contacto
$bg-header-footer-0007: #008CC4;
$texto-header-footer-0007:#ffffff;
$bg-seccion-main-1-0007:$texto-header-footer-0007;
$texto-seccion-main-1-0007: $bg-header-footer-0007;
$bg-seccion-main-2-0007: #84C7D7;
$texto-seccion-main-2-0007: #ffffff;
$color-destacar-0007: #9A7C74;


// Pikachu Nosotros
$bg-header-footer-0025: #E7C774;
$texto-header-footer-0025:#ffffff;
$bg-seccion-main-1-0025:$texto-header-footer-0025;
$texto-seccion-main-1-0025: $bg-header-footer-0025;
$bg-seccion-main-2-0025: #FBE381;
$texto-seccion-main-2-0025: #84623D;
$color-destacar-0025: #E3735F;


// Charizard Ofertas
$bg-header-footer-0006: #C65E67;
$texto-header-footer-0006:#ffffff;
$bg-seccion-main-1-0006:$texto-header-footer-0006;
$texto-seccion-main-1-0006: $bg-header-footer-0006;
$bg-seccion-main-2-0006: #FBA867;
$texto-seccion-main-2-0006: #ffffff;
$color-destacar-0006: #419EAF;
