@use "../abstracts/variables" as *;
@use "../base/paletas" as *;
@use "../abstracts/mixins.scss" as *;
/* Estilos del main catalogo y sus componentes */

.header.header-bulbasaur {
    background-color: $bg-header-footer-0001;
    .buscador-form .input-con-boton {
        input[type="search"]#buscar.buscador-bulbasaur{
            color: $bg-header-footer-0001;
            &::placeholder {
                color: $bg-header-footer-0001;
            }
        }
        button{
            background-color: $bg-header-footer-0001;
        }
    }
    .moneda-usuario .select-moneda-bulbasaur {
        color: $bg-header-footer-0001;
    }
}
.main-catalogo {
    grid-template-rows: auto 1fr;
    .banner .span-bulbasaur {
        color: $color-destacar-0001;
        @include tshadow(rgba(255, 255, 255, 0.5));
    }
    .contenedor-catalogo {
        @include contenedor-secciones($border-negro);
        background-color: #ffffff;
        padding: 10px;
        justify-content: flex-start;
        color: $texto-seccion-main-1-0001;
        .catalogo {
            background-color: transparent;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;
            gap: 10px;
            width: 100%;
            max-height: 100vh;
            overflow-y: scroll;
            border-radius: $radius5;
            padding-right: 5px;
            .producto {
                background-color: $bg-seccion-main-2-0001;
                display: grid;
                grid-template-columns: 1fr 1fr;
                width: 100%;
                height: fit-content;
                border: 1px solid black;
                border-radius: 12px;
                gap: 10px;
                aspect-ratio: 565 / 415;
                h3, h4, h5 {
                    text-align: left;
                }
                .div-detalles-producto {
                    display: grid;
                    grid-template-rows: auto 6fr 4fr;
                    overflow-y: scroll;
                    .nombre-ps {
                        display: flex;
                        flex-direction: column;
                        text-decoration: underline;
                    }
                    .ataque {
                        max-height: 130px;
                    }
                    .div-button {
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        padding: 0 10px 10px 0;
                    }
                    .div-button a {
                        text-decoration: none;
                    }
                    .nombre-ps, .detalles, .ataque {
                        color: #ffffff;
                    }
                }
                .div-img-producto {
                    display: flex;
                    flex-direction: column;
                    padding: 10px 0 10px 10px;
                    justify-content: flex-start;
                    align-items: center;
                    .img-producto {
                        aspect-ratio: 255 / 355;
                        max-width: 255px;
                        width: 100%;
                        height: auto;
                        border: $border-blanco;
                        border-radius: $radius-cartas;
                        // box-shadow: 0 0 10px 5px #ffffff;
                    }
                    .div-button {   
                        width: 100%;
                        padding: 5px 0 0 0;
                        a {
                            display: flex;
                            justify-content: center;
                            width: 100%;
                            button {
                                @include boton-1 ($color-destacar-0001, $border-blanco, $texto-header-footer-0001, $radius5, 152px)
                            }
                        }
                    } 
                }
            }
        }
    }
}
    .footer-bulbasaur {
        background-color: $bg-header-footer-0001 ;
    }