@use "../abstracts/variables" as *;
@use "../base/paletas" as *;
@use "../abstracts/mixins.scss" as *;

/* Estilos del Main Index y sus componentes */
.noticias, .destacados {
    @include contenedor-secciones($border-negro)
}

.noticias {
    background-color: $bg-seccion-main-1-0150;
    color: $texto-seccion-main-1-0150;
    .titulo {
        text-decoration: underline;
        padding: $padding10;
        text-align: center;
    }
    .videos-ultimas-noticias {
        color: $bg-seccion-main-2-0150;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        padding: 0 35px;
        // height: 100%;
        .videos {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            text-align: center;
            padding-top: 20px;
            iframe {
                border: $border-negro;
                padding: 10px;
                width: 100% !important;
                height: auto;
                aspect-ratio: 16 / 9;
            }
            h4 {
                padding: 5px 0;
            }
        }
    }
}

.destacados {
    background-color: $bg-seccion-main-2-0150;
    color: $texto-seccion-main-2-0150;
    .contenedor-cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 100%;
        height: 100%;
        gap: 5px;
        padding: 0 5px 10px 5px;
        border-radius: $radius5;
        section h3 {
            padding: 0 0 5px 0;
            text-decoration: underline;
        }
        .compra-venta, .intercambio {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            border-radius: $radius5;
            background-color: inherit;
            color: inherit;
            .cards {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 5px;
                background-color: transparent;
                border-radius: $radius5;
                max-height: 100%;
                .contenido-card {
                    text-align: center;
                    background-color: $bg-seccion-main-1-0150;
                    color: $bg-seccion-main-2-0150;
                    border-radius: $radius-cartas;
                    padding: 5px 5px 0 5px;
                    h3 {
                        padding: 0;
                        text-decoration: none;
                    }
                    h4 {
                        padding: 0;
                    }
                    img {
                        max-width: 100%;
                        object-fit: contain;
                        overflow: hidden;
                        border-radius: $radius-cartas;
                        border: $border-negro;
                        // box-shadow: 0 0 10px 5px #ffffff;
                    }
                }
            }
        }
    }
}

