@use "../abstracts/variables" as *;
@use "../base/paletas" as *;
@use "../abstracts/mixins.scss" as *;

/* Estilos del Main Catalogo y sus componentes */

.header.header-charizard {
    background-color: $bg-header-footer-0006;
    .buscador-form, .input-con-boton {
        input[type="search"]#buscar.buscador-charizard{
            color: $bg-header-footer-0006;
            &::placeholder {
                color: $bg-header-footer-0006;
            }
        }
        button{
            background-color: $bg-header-footer-0006;
        }
    }
    .moneda-usuario .select-moneda-charizard {
        color: $bg-header-footer-0006;
    }
}

.main-ofertas {
    .banner .span-charizard {
        color: $color-destacar-0006;
        @include tshadow(rgba(255, 255, 255, 0.5));
    }
    display: grid;
    grid-template-rows: auto 1fr;
    gap: $gap10;
    .contenedor-ofertas {
        @include contenedor-secciones($border-negro);
        background-color: $bg-seccion-main-1-0006;
        padding: $padding10;
        justify-content: flex-start;
        color: $texto-seccion-main-1-0006;
        .ofertas {
            display: grid;
            grid-template-rows: auto 1fr;
            gap: 5px;
            width: 100%;
            max-height: 100vh;
            overflow-y: auto;
            border-radius: $radius5;
            background-color: $bg-seccion-main-2-0006;
            border: $border-blanco;
            .ofertas-producto {
                background-color: transparent;
                display: grid;
                grid-template-columns: 4fr 4fr 4fr;
                border-radius: $radius5;
                gap: 10px;
                .div-img-producto {
                    display: flex;
                    padding: 10px;
                    justify-content: flex-start;
                    align-items: flex-start;
                    .img-producto {
                        aspect-ratio: 326 / 454;
                        max-width: 326px;
                        width: 100%;
                        max-height: 455px;
                        border: $border-blanco;
                        border-radius: $radius-cartas;
                    }
                }
                .div-detalles-producto-ofertas {
                    display: grid;
                    grid-template-rows: auto 6fr 4fr;
                    overflow-y: auto;
                    .nps-ofertas, .detalles-ofertas, .ataque-ofertas {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        color: $texto-seccion-main-2-0006;
                        padding-left: 5px;
                    }
                    .ataque-ofertas {
                        justify-content: flex-start;
                        align-items: flex-start;
                        max-height: 70px;
                    }
                }
                .grafica {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: $texto-seccion-main-2-0006;
                    border: $border-negro;
                    padding: 10px;
                    border-radius: $radius5;
                    span {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        aspect-ratio: 1 / 1;
                        width: 90%;
                        border: $border-negro;
                    }
                }
            }
        }
        .contenedor-tabla {
            max-width: 100%;
            width: 100%;
            color: $texto-seccion-main-2-0006;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            table {
                display: table;
                border-collapse: separate;
                border-spacing: 0;
                max-width: 100%;
                width: 100%;
                border: $border-blanco;
                border-radius: $radius5;
                overflow-x: auto;
                th, td {
                padding: 5px;
                text-align: center;
                border-bottom: $border-blanco;
                }
                thead {
                font-size: 1.1rem;
                text-decoration: underline;
                background-color: $texto-seccion-main-2-0006;
                color: $bg-seccion-main-2-0006;
                }
                tbody {
                    tr:last-child {
                        td {
                            border-bottom: none;
                        }
                    }
                }
                td a {
                text-decoration: none;
                color: $texto-seccion-main-2-0006;
                }
            }
        }
    }
}

.footer-charizard {
    background-color: $bg-header-footer-0006;
}